<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%= link_to "Hello world", "#", class: "btn btn-lg btn-success" %>
<%= link_to "urges", urges_path, class: "btn btn-lg btn-success" %>
<%= link_to "urgefors", urge_fors_path, class: "btn btn-lg btn-success" %>
<%= link_to "smokes", smokes_path, class: "btn btn-lg btn-success" %>


<br><br>
<hr>
<br><br>

<div class="home-cards-container">
<% 9.times do %>
  <div class="card home-card">
    <div class="card-header">
      <h2 class="mb-0">
          Card Title
      </h2>
    </div>
    <div class="card-body">
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
    </div>
  </div>
<% end %>
</div>